---
name: PHP Linting (Pint)
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches-ignore:
      - 'dependabot/npm_and_yarn/*'

jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@2.6
        with:
          preset: laravel
          configPath: "laravel/pint.json"
